img {
  vertical-align: middle;
}

#imagen-principal {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.botones-container {
  display: flex;
  justify-content: space-between;
}

.botones-grandes {
  border-radius: 10px;
  margin: 5%;
  height: 100px;
  width: 400px;
  padding: 1rem;
  display: flex; /* Activar el modelo de caja flexible */
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: left;
  color: #FFF;
  font-size: 28px;
  text-decoration: none;
}

.boton-paso {
  background-color: var(--magenta);  
}

.boton-gral {
  background-color: var(--celeste);
}

.menu-boton-paso-gral {
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

