img {
  vertical-align: middle;
}

#imagen-principal {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.botones-container {
  display: flex;
  justify-content: space-between;
}

.botones-grandes {
  border-radius: 10px;
  margin: 5%;
  height: 100px;
  width: 400px;
  padding: 1rem;
  display: flex; 
  align-items: center; 
  justify-content: left;
  color: #FFF;
  font-size: 28px;
  text-decoration: none;
}



