img {
  vertical-align: middle;
  /* Alinear verticalmente la imagen en el medio */

}





#imagen-principal {
  max-width: 100%;
  /* La imagen no será más ancha que su contenedor */
  height: auto;
  /* Mantiene la relación de aspecto original de la imagen */
  display: block;
  /* Elimina cualquier espacio adicional debajo de la imagen */
  margin: 0 auto;
  /* Centra la imagen horizontalmente si es necesario */
}

.botones-container {
  display: flex;
  justify-content: space-between;
}

.botones-grandes {
  border-radius: 10px;
  margin: 5%;
  height: 100px;
  width: 48%;
  padding: 1rem;
  display: flex; /* Activar el modelo de caja flexible */
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: left;
  color: #FFF;
  font-size: 28px;
  text-decoration: none;
}

.botones-grandes svg {
  font-size: 75px !important;  
  height: 75px !important; 
  width: 75px !important;
}

#boton-paso {
  background-color: var(--magenta);  
}

#boton-grales {
  background-color: var(--celeste);
}

