.texto-path {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--celeste);
}

/* --------------------------- */
/* Estilos para los botones del menu */
/* --------------------------- */

/* Filtrar */
.filtrar {
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: var(--textos);
}

/* Inicio */
.inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    float: right;
    margin-top: 0.2em;
}

/* Estilo de desplegables */
.desplegables {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

/* Estilo para el mensaje de éxito (verde) */
.alert.alert-success {
    background-color: var(--mensaje-usuario-verde);
    color: #FFFFFF;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
  }
  
  .alert.alert-success::before {
    content: "\f164"; /* Icono de pulgar arriba (fa-thumbs-up) */
    font-family: FontAwesome;
    margin-right: 10px;
  }
  
  /* Estilo para el mensaje de error (rojo) */
  .alert.alert-danger {
    background-color: var(--mensaje-usuario-rojo);
    color: #FFFFFF;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
  }
  
  .alert.alert-danger::before {
    content: "\f071"; /* Icono de triángulo de exclamación (fa-exclamation-triangle) */
    font-family: FontAwesome;
    margin-right: 10px;
  }
  
  /* Estilo para el mensaje genérico (amarillo) */
  .alert {
    background-color: var(--mensaje-usuario-amarillo);
    color: #FFFFFF;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
  }
  
  .alert::before {
    content: "\f06a"; /* Icono de signo de exclamación (fa-exclamation) */
    font-family: FontAwesome;
    margin-right: 10px;
  }

/* --------------------------- */
/* Estilos para los recuadros de agregar informe, mesas escrutadas, etc */
/* --------------------------- */

/* Estilos para agregar informe */
.agregar-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 15px;
    border-radius: 5px;
    height: 40px;
    width: 224px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s;
    color: var(--textos);
}

/* Estilos para los recuadros de mesas escrutadas, etc */
.recuadros {
    border-radius: 10px;
    margin: 15px;
    height: 100px;
    width: 250px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
}

/* Se le da a cada recuadro su color de fondo */
#mesas-escrutadas {
    background-color: var(--celeste);
}

#electores {
    background-color: var(--magenta);
}

#participacion {
    background-color: var(--morado);
}




/* --------------------------- */
/* Estilos para los cuadros de agrupaciones, provincias, resumen */
/* --------------------------- */

/* Estilos para los cuadros en general */
.cuadros {
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 600px;
}

/* Estilos para los títulos de los cuadros */
.titulo-cuadros {
    font-weight: bold;
    padding: 1.8em 0 0 0;
    text-align: center;
    white-space: nowrap;
}




/* --------------------------- */
/* Estilos para el cuadro de Agrupaciones políticas */
/* --------------------------- */

/* Se agrega barra de desplazamiento vertical */
.cuadro-agrupaciones {
    overflow-y: auto;
    height: 500px;
}

/* Estilos para el cuadro de cada Agrupacion política */
/* !!!!! INCOMPLETO !!!!!!! */
.agrupacion {
    height: 325px;
}

/* Estilos para los textos dentro de Agrupaciones políticas */
.cuadro-agrupaciones p {
    font-size: 11px;
    color: var(--textos);
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin: 10px 15px 0px 0px;

}

/* Estilos para los títulos de cada Agrupación */
.titulo-agrupaciones {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--borde-Grilla);
    margin: 0;
    padding: 5px;
}

.partido {
    height: 150px;
}

.porcentajes {
    float: right;
    color: var(--texto-footer);
}


/* --------------------------- */
/* Estilos para el cuadro de Provincias */
/* --------------------------- */

.cuadro-provincias {
    text-align: center;
    width: 30%;
}

.cuadro-provincias svg {
    transform: scale(3);
}

/* --------------------------- */
/* Estilos para el cuadro de Resumen */
/* --------------------------- */

/*barra de progreso*/
.progress {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

/* --------------------------- */
/* Grafico de resumen de votos */
/* --------------------------- */

.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
    transform: scale(1.4);
    margin-left: 125px;
    
}


.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

/* --------------------------- */
/* --------------------------- */